body{    
    width: 70%;
    margin: auto;
}
.border_t{
    border: 1px solid #000000;
    border-collapse: separate;
    empty-cells: hide;
}
.table_2{
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
.table_3{
    border: 2px solid slategrey;
    margin-top: 10px;
    text-align: left;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}
td,th{
    border: 1px solid black;
}
div{
    margin-top: 30px;
}
fieldset{
    margin-top: 15px;
}
legend{
    font-weight: bolder;
}
textarea{
    height: 100px;
    width: 400px;
}
