body{    
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
}
.border_t{
    border: 1px solid #000000;
    border-collapse: separate;
    empty-cells: hide;
}
.table_2{
    margin-top: 10px;
}
.table_3{
    border: 2px solid slategrey;
    margin-top: 10px;
    text-align: left;
    border-collapse: collapse;
}
td,th{
    border: 1px solid black;
}
div{
    width: 100%;
    margin-top: 30px;
}

